<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<title>GenRest</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"></link>
	<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap4.min.css"></link>
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<!-- JS -->
	<script src="/js/jquery-3.5.1.min.js"></script>
	<script src="/js/jquery.mask.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="/js/jquery.dataTables.min.js"></script>
	<script src="/js/dataTables.bootstrap4.min.js"></script>
	<script src="/js/rotinas.js"></script>
</head>
<body>

	<header th:replace="Cabecalho"></header>

	<section  class="home-section" layout:fragment="conteudo">
		<p>Conteúdo Principal</p>
	</section>
	<section layout:fragment="modais">
	</section>

</body>
</html>